.footer {
  background-color: rgb(1, 20, 45);
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  outline-color: rgb(253, 253, 253);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 64px;
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.div {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  max-width: 1096px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}
.div2 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  display: flex;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  margin: 0 -12px 34px;
}
.div3 {
  font-size: 18px;
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  width: calc(33% - 24.0001px);
  margin: 0 9.5% 0 12px;
}
.a {
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  display: inline-block;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  line-height: 16.8px;
  max-width: 328px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
  color: #e5d283;
}
.rawImg {
  aspect-ratio: auto 328 / 41;
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  display: inline-block;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  line-height: 16.8px;
  max-width: 100%;
  outline-color: rgb(253, 253, 253);
  overflow-clip-margin: content-box;
  overflow-x: clip;
  overflow-y: clip;
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  vertical-align: middle;
  width: 328px;
}
.address {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  margin-top: 32px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.br {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  display: inline;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.div4 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  margin-top: 32px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.p {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.a2 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  line-height: 16.8px;
  max-width: 328px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
  text-decoration: none;
}

.a2:hover {
  color: #e5d283;
}

.a3 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  line-height: 16.8px;
  max-width: 328px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
}
.div5 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  max-width: 100%;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  margin: 0 12px;
}
.div6 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  margin-right: 20px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.h5 {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-variant-numeric: oldstyle-nums proportional-nums;
  margin-bottom: 24px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  font: oldstyle-nums proportional-nums 500 18px/25.2px Stolzl-MVH;
}

.h5:hover {
  color: #e5d283;
}

.div7 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  max-width: 100%;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  margin: 0 12px;
}
.div8 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  margin-right: 16px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.div9 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  max-width: 100%;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  margin: 0 12px;
}
.div10 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.div11 {
  background-color: #e5d283;
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  padding: 24px 0;
}
.div12 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  max-width: 1096px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}
.div13 {
  align-items: center;
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  display: flex;
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  justify-content: space-between;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.p2 {
  border-color: rgb(253, 253, 253);
  color: #213555;
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  margin-right: 30px;
  max-width: 500px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.div14 {
  align-items: center;
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  display: flex;
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.a4 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  line-height: 16.8px;
  margin-right: 8px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
  padding: 4px 16px;
}
.a5 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  line-height: 16.8px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
  padding: 4px 16px;
}
.div15 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  margin-left: 24px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}

.div15 svg {
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.div15 svg path {
  fill: #213555;
}

.div15 svg:hover path {
  fill: #4f709c;
}

.div16 {
  align-items: center;
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  display: flex;
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
}
.div17 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  height: 24px;
  margin-right: 24px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  width: 24px;
}
.a6 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  display: inline-block;
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  height: 100%;
  line-height: 16.8px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
  width: 100%;
}
.svg {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  display: inline;
  fill: rgb(253, 253, 253);
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  height: 25px;
  line-height: 16.8px;
  outline-color: rgb(253, 253, 253);
  overflow-clip-margin: content-box;
  overflow-x: hidden;
  overflow-y: hidden;
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
  width: 24px;
}
.div18 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  height: 24px;
  margin-right: 24px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  width: 24px;
}
.a7 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  display: inline-block;
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  height: 100%;
  line-height: 16.8px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
  width: 100%;
}
.svg2 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  display: inline;
  fill: rgb(255, 255, 255);
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  height: 22px;
  line-height: 16.8px;
  outline-color: rgb(253, 253, 253);
  overflow-clip-margin: content-box;
  overflow-x: hidden;
  overflow-y: hidden;
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
  width: 22px;
}
.div19 {
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  height: 24px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  width: 24px;
}
.a8 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  cursor: pointer;
  display: inline-block;
  font-family: Stolzl-MVH;
  font-variant: oldstyle-nums proportional-nums;
  font-variant-numeric: oldstyle-nums proportional-nums;
  height: 100%;
  line-height: 16.8px;
  outline-color: rgb(253, 253, 253);
  text-decoration-color: rgb(253, 253, 253);
  text-emphasis-color: rgb(253, 253, 253);
  transition-duration: 0.4s;
  width: 100%;
}
