.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;

  height: 76px;
  width: var(--base-width);
  margin: 12px auto;
  padding: 0 36px;
  border-radius: 24px;

  background-color: var(--clr-white);
  box-shadow: 0 0 16px var(--clr-shadow);
}

.links{
    display: flex;
    align-items: center;
    gap: 56px;
}

.link{
    font-family: var(--font-geist-sans);
    color: var(--clr-main-lite);
}

.link:hover{
    color: #e5d283;
}

.accentLink{
    padding: 12px 24px;
    background-color: var(--clr-main);
    color: var(--clr-white);
    border-radius: 50px;
    font-weight: 700;
}

.accentLink:hover{
    background-color: var(--clr-accent);
    color: var(--clr-white);
}