.root{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 64px auto;
    width: 100%;
    max-width: 1000px;
}

.title{
    font-size: 2rem;
    font-weight: 600;
}

.subtitle{
    font-size: 1.5rem;
    font-weight: 400;
}